
    <nav>
        <h1>
            Books app 
        </h1>
        <i class="fa fa-book fa-lg" aria-hidden="true"></i>
        <button class="menuButton">menu</button>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/search">Search for book</a></li>
            <li></li>
        </ul>
    </nav>
