<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/layout.css">
</head>

<body>
    <header>Hello 301 Instructional Team ♥</header>
    <main>
        <a href="/list">My Family List</a>
        <a href="/books">Books</a>
    </main>
    <footer></footer>
</body>

</html>