
input.blue.search{
color: green;
}
div{
    background-color:#37CC2F ;
    margin: 3%;
    padding: 0 1%;
}

p{
    line-height: 130%;
text-align: justify;
    /* margin: auto; */
text-align: center;

}
span{
    display: block;
    /* margin: 1% 0 0 37%; */
    text-align: center;
    /* padding: 5%; */
    
}

input{
    display: block;
    margin: auto;
    text-align: center;

}
textarea
{
    display: block;
    margin: auto;
    text-align: center;

}



nav{
    float: right;
}
ul{
    float: left;
}
li{
    
    display: inline-block;
}

.formwithdel{
    margin: 0 14% 0 3%;
    float: left;
}
.formwithdel button{
    background-color: red;
    height: 40px;
    width: 100px;
}
#updateDetails{
    /* background-color: #1BDBB1; */
    height: 40px;
    width: 100px;
}
.updatefrom button{
    height: 40px;
    width: 100px;
}
.updatefrom{
    margin: -52% 0 0 42%;
    width: 37%;
    background-color: #37CC2F;
    box-shadow: 1px 1px 5px black;
    height: 700px;
}
.updatefrom input{
    width: 80%;
    height: 50px;
}
.updatefrom textarea{
    width: 80%;
}
.updatefrom button{
    margin: 2% 0 0 9%;
    width: 82%;
}