input.blue.search {
    color: green;
}

div {
    background-color: #37CC2F;
    margin: 3%;
    padding: 0 1%;
}

p {
    line-height: 130%;
    text-align: justify;
    /* margin: auto; */
    text-align: center;
}

span {
    display: block;
    /* margin: 1% 0 0 37%; */
    text-align: center;
    /* padding: 5%; */
}

input {
    display: block;
    margin: auto;
    text-align: center;
}

textarea {
    display: block;
    margin: auto;
    text-align: center;
}

nav {
    float: right;
}

ul {
    float: left;
}

li {
    display: inline-block;
}

.formwithdel {
    margin: 0 14% 0 3%;
    float: left;
}

.formwithdel button {
    background-color: red;
    height: 40px;
    width: 100px;
}

#updateDetails {
    /* background-color: #1BDBB1; */
    height: 40px;
    width: 100px;
}

.updatefrom button {
    height: 40px;
    width: 100px;
}

.updatefrom {
    margin: -52% 0 0 42%;
    width: 37%;
    background-color: #37CC2F;
    box-shadow: 1px 1px 5px black;
    height: 700px;
}

.updatefrom input {
    width: 80%;
    height: 50px;
}

.updatefrom textarea {
    width: 80%;
}

.updatefrom button {
    margin: 2% 0 0 9%;
    width: 82%;
}

#sectionIndex {
    width: 100%;
    background-color: #72DBB1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

#sectionIndex div {
    height: 500px;
    margin: 5% 1% 0 1%;
    width: 28%;
}

#sectionIndex div>* {
    margin: 4% auto;
    display: block;
    text-align: center;
}

#sectionIndex div>a {
    color: black;
    line-height: 30px;
    height: 30px;
    text-decoration: none;
    background-color: #D9D527;
    border-radius: 3px;
    opacity: 0.8;
    width: 50%;
}

#sectionIndex div>a:hover {
    opacity: 1;
}


#sectionShow div>* {
    display: block;
    text-align: center;
    margin: 3% auto;
}

#sectionShow div>button {
    margin: 0 auto;
}

.selectForm {
    margin: 1% 0 0 1%;
}
#sectionShow{
    background-color: #72DBB1;
    
}
#sectionShow button{
    height: 30x;
    width: 25%;
    margin: 0 0 0 4%;
}
#sectionShow form{
    box-shadow: 1px 1px 5px black;
    position: absolute;
    margin: -50.5% 0 0 48%;
    background-color: #37CC2F;
    height: 680px;
    border-radius: 3px;
    width: 35%;
}
#sectionShow form>*{
    display: block;
    text-align: center;
}
#sectionShow form label>input{
    
    height: 25px;
    margin: 2% auto;
    border-radius: 3px;
    width: 80%;
}
#sectionShow form >textarea{
    border-radius: 3px;
    
    margin: 2% auto;
    width: 80%;
}
#sectionShow form>button{
    margin: 2% auto;
}
#searchForm{
    border: 3px solid #FFD958;
    width:40% ;
    margin: 13% 0 0 27%;
}

#searchForm>*{
    display: block;
    margin: 2% auto 0% auto;
    text-align: center;
}
#searchForm label>span{
    margin: 2% auto;
}
#searchForm label>input{
    width: 70%;
}
#searchForm label:first-child>input{
    height: 30px;
}
#searchForm label>*{
    margin: 3% auto 0 auto;
    
    display: block;
    text-align: center;
}
#search{
    display: block;
    text-align: center;
    margin: 1% auto;
    width: 30%;
    height: 30px;
}

